asttokens==3.0.1
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
comm==0.2.3
debugpy==1.8.20
decorator==5.2.1
dlt==1.23.0
duckdb==1.4.4
executing==2.2.1
fsspec==2026.2.0
gitdb==4.0.12
gitpython==3.1.46
giturlparse==0.14.0
humanize==4.15.0
idna==3.11
ipykernel==7.2.0
ipython==9.11.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
jsonpath-ng==1.7.0
jupyter-client==8.8.0
jupyter-core==5.9.1
markdown-it-py==4.0.0
matplotlib-inline==0.2.1
mdurl==0.1.2
nest-asyncio==1.6.0
orjson==3.11.7
packaging==26.0
parso==0.8.6
pathvalidate==3.3.1
pendulum==3.2.0
pexpect==4.9.0
platformdirs==4.9.4
pluggy==1.6.0
ply==3.11
prompt-toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2026.1.post1
pyyaml==6.0.3
pyzmq==27.1.0
requests==2.32.5
requirements-parser==0.13.0
rich==14.3.3
rich-argparse==1.7.2
semver==3.0.4
setuptools==82.0.0
simplejson==3.20.2
six==1.17.0
smmap==5.0.2
sqlglot==29.0.1
stack-data==0.6.3
tenacity==9.1.4
tomlkit==0.14.0
tornado==6.5.4
traitlets==5.14.3
typing-extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wcwidth==0.6.0
pandas